{% extends 'base.html' %}

{% block content %}
<div class="content-container">
    <h1>Flight Booking</h1>
    <h2>Book Your Flight: {{ flight.flight_no }} by {{ flight.airline }}</h2>
    <form method="POST" action="{{ url_for('book_flight', flight_id=flight.id) }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <fieldset>
            <legend>Passenger Information</legend>
            <p>
                <label for="passenger_name">First Name:</label>
                <input type="text" id="passenger_name" name="passenger_name" required>
            </p>
            <p>
                <label for="family_name">Family Name:</label>
                <input type="text" id="family_name" name="family_name" required>
            </p>
            <p>
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </p>
            <p>
                <label for="dob">Date of Birth:</label>
                <input type="date" id="dob" name="dob" required>
            </p>
        </fieldset>
        <p>
            <input type="submit" value="Book Flight">
        </p>
    </form>

    <a href="{{ url_for('home') }}">Back to Home</a>
</div>
{% endblock %}
